<div data-role="page" style="background-image:url('/public/images/rcm/background.jpg');" >
  <div data-role="header" data-position="inline" data-theme="a">
    <h1 style="font-size:13px;">RhoConnect Monitor</h1>
  </div>

  <div data-role="content" style:"text-align:center;">
    <div id='login_container'>
      <div id='login_box'>
      <div id='img_box'><img src='/public/images/rcm/rc-logo.png' style="padding-left:8px;padding-top:8px;float:center;"/></div>
      <div id='form_box'>
        <form method='POST' action="<%= url_for :action => :server_login %>">
          <input type="text" id="rho_monitor[url]" name="rho_monitor[url]" value="http://" class='input user' />
          <input type="text" id="rho_monitor[login]" name="rho_monitor[login]" value="rhoadmin" class='input user' />
          <input type="password" id="rho_monitor[password]" name="rho_monitor[password]" <%= placeholder("Password") %> class='input passcode' />
          <input type='submit' value='Submit' data-theme="a">
        </form>
        </div>
      </div> 
    </div>
    </div>
  </div>
</div>
